.btn.btn-icon {
  width: auto;
  min-width: initial;
  height: auto;
  background: transparent;
  box-shadow: none;
  padding: 0;
  line-height: 1rem;
  margin-bottom: 0;
}

.btn-create-new-task {
  width: 500px;
  background: #ffffffff;
}
