$colors: (
  green: #ccff90,
  teal: #a7feeb,
  red: #ff8a7f,
  orange:#ffd17f,
  yellow: #feff8d,
  blue: #80d8ff,
  dark-blue: #82b0ff,
  purple: #b388ff,
  pink: #f8bbcf,
  brown: #d7ccc8,
  grey: #ced8dc,
  white: #fafafa,
);
